// Berkeley Colors
$berkeley-blue: #002676;
$berkeley-gold: #FDB515;

html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  //line-height: 1.5;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

/* (Hover color limited to clickable elements in links stylesheet) */

/* Data content styling */
.data-content {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

.data-content i {
  font-style: italic;
  font-weight: normal;
}
